.conteiner {
    display: flex;
    justify-content: center;
}

h1 {
    color: rgb(48, 48, 48);
    text-align: center;
}

a {
    text-align: center;
}

li {
    list-style: none;
    width: 400px;
}