.conteiner {
    display: flex;
    width: 700px;
    /* background: cadetblue; */
    margin: auto;
}

ul {
    display: flex;
    flex-wrap: wrap;
}

h1 {
    color: rgb(48, 48, 48);
    text-align: center;
}

a {
    text-align: center;
}

li {
    list-style: none;
    width: 150px;
}