body {
    background: rgb(238, 235, 235);
}

.social-menu {
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 0;
    margin: 0;
    transform: translate(-5%, -5%);
    display: flex;
}

.social-menu ul {
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 20px;
}

.social-menu ul li img {
    padding-top: 8px;
}

.social-menu ul li .fa {
    font-size: 30px;
    line-height: 40px;
    transition: .6s;
    -webkit-transition: .6s;
    color: #000;
}

.social-menu ul li .fa:hover {
    color: #FFF;
}

.social-menu ul li a {
    position: relative;
    display: block;
    height: 40px;
    width: 40px;
    border-radius: 40px;
    background-color: #FFF;
    text-align: center;
    transition: .6s;
    -webkit-transition: .6s;
    box-shadow: 0 5px 4px grey;
}

.social-menu ul li a:hover {
    transform: translate(10px, 10px);
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #81b9e4;
    ;
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #c1e1fa;
    ;
}